# Ignore everything in the results_ssd folder
#results_ssd/

# Ignore all .pbs files

main.pbs.o102205
main.pbs.o136298
main.pbs.o142925
main.pbs.o152940
results_ssd/
archive/
main.pbs.*
__pycache__/
*.png