# Ignore everything in the results_ssd folder
results_ssd/

# Ignore PBS job files
*.pbs
main.pbs
main.pbs.*

# Ignore specific Python files
env3rundiv.py
eqm_figures.py
eqm_execute_metrics.py
eqm_execute.py

# Ignore directories
archive/
__pycache__/
figs/
figures/code/
figures_code/
mainpbs archive eqm/
mainpbs files archive/

# Ignore output and data files
*.png
*.pdf
*.out
*.err
*.log
*.txt
*.csv
*.json