# Ignore everything in the results_ssd folder
results_ssd/

# Ignore all .pbs files

main.pbs.o102205
main.pbs.o136298
main.pbs.o142925
main.pbs.o152940
env3rundiv.py 
results_ssd/
archive/
main.pbs.*
__pycache__/
*.png
mainpbs archive eqm/
mainpbs files archive/
figs/
figures/code/
*.pbs
*.out
*.err
*.log
*.txt
*.csv
*.json
*.pdf
*.png
figures_code/
main.pbs
eqm_figures.py
eqm_execute_metrics.py
eqm_execute.py
